
<section class="index">
  <%if !@player%>
    <p>Hello, what's your name?</p>

    <form method='post' action='/'>
      <input type="text" name="player">
      <input type="submit" value="Submit">
    </form>
  <%else%>
    <p>Hello <%=@player%>, would you like to play a game?</p>
    <p>Choose your destiny!</p>
    
    <table>
    
    <td>
      <th><a href="/game?choice=rock"><img src='/images/rock.jpg' class="choice" /></a></th>
      <th><a href="/game?choice=paper"><img class="choice" src='/images/paper.jpg'/></a></th>
      <th><a href="/game?choice=scissors"><img class="choice" src='/images/scissors.jpg'/></a></th>
    </td>

    </table>

  <%end%>
</section>