h1 {
  text-align: center;
}

img {
  width: 175px;
  height: 175px;

  padding-right: 10px;
  padding-left: 10px;

  border-radius: 50%;
  -webkit-border-radius: 50%;
}

img:hover {

  width: 200px;
  height: 200px;
}

.index {
  text-align: center;
}

table {
  margin: 0 auto;
}
